@font-face {
  font-family: "Gotham Book";
  src: url('./fonts/gotham-rounded-book.otf')
}

@font-face {
  font-family: "Gotham Bold";
  src: url('./fonts/gotham-rounded-bold.otf')
}

@font-face {
  font-family: 'Gotham Rounded Book';
  src:  url('./fonts/gotham-rounded-book.otf');
}

/* Extra small devices (portrait phones, less than 576px) */
  html, body {
    height: 100%;
  }

  body {
    font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
    background-color:#F5D76E; 
    color: #484848;
  }

  #root {
    height: 100%;
  }

  #root {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
  }

  .responsive-widths {
    width:100%;
    margin: 0 auto;
  }
  .chilean-fire {
    color: #cd6133;
  }

  .dragon-skin {
    color: #ff9f43;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(33,33,33,.8);
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }

  #modalWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;    
  }

  #modalBody {
    background-color: white;
    border-radius: 4px;
    width: 350px;
    margin: auto;
  }

  #closePortalBtn {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 1em;
    padding: 5px;
    color: silver;
    border: none;
    cursor: pointer;  
  }

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: white;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
  .nav-link i {
    font-size: 1.1em;
  }
  .nav-link,.nav-link:hover, .nav-link:visited   {
    color:#34ace0;
  }
  
  .dropdown-toggle::after {
    display: none;
  }
  
  .dropdown-menu a {
    font-family: 'Gotham Bold',Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-size: 1.4rem;
    color: gray;
    padding: 1rem;
  }  
  .footer-basic {
    font-family: 'Gotham Bold',Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:50px;
    height:50px;
    line-height:50px;
    display:inline-block;
    text-align:center;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  .styled-h2 {
    font-family: 'Gotham Bold',Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    padding: .5rem;
    color: #e67e22;
  }

  #tourpackages-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
  }

  .relative {
    position: relative;
  }

  .ribbon {
    width: 130px;
    height: 130px;
    overflow: hidden;
    position: absolute;
  }

  .ribbon::before, .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;  
  }

  .ribbon > span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #e74c3c;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-align: center;  
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
  }
  
  .tp-name {
    color: #ff9f43;
    font-family: 'Gotham Bold',Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-size: 1.1em;  
  }

  .tp-pricewrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    line-height: 1.1rem; 
  }

  .tp-pricestarts {
    font-family: 'Gotham Bold',Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-size: 1.1rem;
    color: #2ecc71;
  }

  .tp-pricestarts::before {
    content: "Php ";
  }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  

}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .responsive-widths {
    min-width:768px;
    max-width: 992px;
  }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
}