@font-face {
  font-family: "Gotham Bold";
  src: url('./fonts/gotham-rounded-bold.otf')
}

@font-face {
  font-family: 'Gotham Rounded Book';
  src:  url('./fonts/gotham-rounded-book.otf');
}

/* Extra small devices (portrait phones, less than 576px) */
  html, body {
    height: 100%;
  }

  body {
    font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
    background-color:#F5D76E; 
    color: #484848;
  }

  #root {
    height: 100%;
  }

  #root {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
  }

  .responsive-widths {
    width:100%;
    margin: 0 auto;
  }
  .chilean-fire {
    color: #cd6133;
  }

  .dragon-skin {
    color: #ff9f43;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(33,33,33,.8);
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }

  #modalWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;    
  }

  #modalBody {
    background-color: white;
    border-radius: 4px;
    width: 350px;
    margin: auto;
  }

  #closePortalBtn {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 1em;
    padding: 5px;
    color: silver;
    border: none;
    cursor: pointer;  
  }

  .nav-link i {
    font-size: 1.1em;
  }
  .nav-link,.nav-link:hover, .nav-link:visited   {
    color:#34ace0;
  }
  
  .dropdown-toggle::after {
    display: none;
  }
  
  .dropdown-menu a {
    font-family: 'Gotham Bold',Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-size: 1.4rem;
    color: gray;
    padding: 1rem;
  }  
  .footer-basic {
    font-family: 'Gotham Bold',Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:50px;
    height:50px;
    line-height:50px;
    display:inline-block;
    text-align:center;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  

}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .responsive-widths {
    min-width:768px;
    max-width: 992px;
  }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
}