  <!DOCTYPE html>
  <html lang="en-US">
    <head>
      {% block metadata %}
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="author" content="Tom Claudio" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
      {% endblock %}
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
      <meta name="theme-color" content="#000000" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossOrigin="anonymous" />
      {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/base.css')}}" />
      {% endblock %}
      {# <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-11499974-1', 'auto');
        ga('send', 'pageview');
      </script> #}
    </head>
    <body>
      <div id="root">
        {% include 'nav.html' %}
        {% block container %} {% endblock %}
        {% include 'footer.html' %}
      </div>
      {% block script %}{% endblock %}
    </body>
  </html>