{% extends 'base.html' %}
{% block stylesheets %}
  {% compress 'css' %}
  {{ super() }}
  {% endcompress %}
{% endblock %}
{% block container %}
  <div class="responsive-widths">
    <div class="text-center">
      <div class="social mt-2">
        <img src="https://res.cloudinary.com/etours-davao/image/upload/v1566424399/contact_qj2o76.png" />
      </div>
      <p class="mb-0">+63 (977) 834 4716 (Globe)</p>
      <img src="https://res.cloudinary.com/etours-davao/image/upload/v1566424398/facebook_uttzlh.png" />
      <p>www.facebook.com/etours</p>
      <img src="https://res.cloudinary.com/etours-davao/image/upload/v1566424398/instagram_uzdzvh.png"/>
      <p>www.instagram.com/etours.ph</p>
      <img src="https://res.cloudinary.com/etours-davao/image/upload/v1566424398/linkedin_mwnuuw.png"/>
      <p>ph.linkedin/in/etours-davao</p>
      <img class="d-block mx-auto" src="https://res.cloudinary.com/etours-davao-inc/image/upload/v1549434882/etours-logo.png" />
      <p class="h3">www.etours.ph</p>
      <p>info@etours.ph</p>
    </div>
  </div>  
{% endblock %}