{% extends 'base.html' %}
{% block stylesheets %}
  {{ super() }}
{% endblock %}
{% block container %}
  <div class="responsive-widths bg-white my-2 p-2">
    <div class="text-center">
      <div class="social mt-2">
        <span href="#"><i class="fas fa-phone-square fa-3x p-1" style="color: #0be881"></i></span>
        <span href="#"><i class="fab fa-viber fa-3x p-1" style="color: #8e44ad"></i></span>
        <span href="#"><i class="fab fa-whatsapp fa-3x p-1" style="color: #27ae60"></i></span>
      </div>
      <p class="mb-0">+63 (977) 834 4716 (Globe)</p>
      <i class="fab fa-facebook fa-3x mt-2" style="color: #0652DD"></i>
      <p>www.facebook.com/etours</p>
      <i class="fab fa-instagram fa-3x mt-2" style="color: #ED4C67"></i>
      <p>www.instagram.com/etours.ph</p>
      <i class="fab fa-linkedin fa-3x mt-2" style="color: #0652DD"></i>
      <p>ph.linkedin/in/etours-davao</p>
      <img class="d-block mx-auto" src="https://res.cloudinary.com/etours-davao-inc/image/upload/v1549434882/etours-logo.png" />
      <p class="h3">www.etours.ph</p>
      <p>info@etours.ph</p>
    </div>
  </div>  
{% endblock %}