{% extends 'base.html' %}
{% block metadata %}
  {{ super() }}
  <title>Davao a corporate travel destination | Etours Philippines</title>
  <meta name="description" content="Make Davao your next corporate travel destination. We are here to help you organised a meaningful trip to Davao - Reward your top performers through incentive travel, do meaningful activities to strengthen your team camaraderie, or improve performance through seminars and workshops."/>
  <meta name="keywords" content="davao travel, davao tours, davao corporate travel"/>
{% endblock %}
{% block stylesheets %}
  {% compress 'css' %}
  {{ super() }}
  {% endcompress %}

{% endblock %}
{% block container %}
  <div class="responsive-widths">
    <h1 class="h2 chilean-fire d-none">Corporate Travel</h1>
    <div>
      <p>On this page</p>
      <ul style="list-style-type: none">
        <li><a href="#description">Product description</a></li>
        <li><a href="#why">Why Davao?</a></li>
        <li><a href="#offerings">What we can for you</a></li>
      </ul>
    </div>
    <section id="description" style="padding: 12px">
      <h2>Product description</h2>
      <p>Make Davao your next corporate travel destination. We are here to help you organised a meaningful trip to Davao - Reward your top performers through incentive travel, do meaningful activities to strengthen your team camaraderie, or improve performance through capacity building activities.</p>
    </section>
    <section id="why" style="padding: 12px">
      <h2>Why Davao?</h2>
      <p>Davao city is a top destination for Meetings, Incentive Travel, Conferences, and Expositions, in fact, it has hosted many successful international events.</p>
      <p>Its bustling economy offers a range of accommodation, resorts, meeting facilities, restaurants, shopping centers, and health/wellness centers ready to serve you.</p>
      <p>Its location in the country makes for many ecotourism activities and experiences for visitors.</p>
      <p>The city boasts of a mix of urban and green environment and a wordclass public safety infrastructure.</p>
    </section>
    <section id="offerings" style="padding: 12px">
      <h2>What we offer?</h2>
      <ul>
        <li>Incentive Travel</li>
        <li>Capacity building</li>
        <li>Team building</li>
        <li>Entertainment</li>
        <li>Corporate Social Responsibility</li>
        <li>SigthSeeing Tours</li>
      </ul>
    </section>
  </div>
{% endblock %}