<footer class="footer-basic">
    <div class="social">
        <a href="https://www.instagram.com/etours.ph/"><i class="fab fa-instagram fa-2x" style="color: #ED4C67"></i></a>
        <a href="#"><i class="fab fa-linkedin fa-2x" style="color: #0652DD"></i></a>
        <a href="https://www.facebook.com/etours/"><i class="fab fa-facebook fa-2x" style="color: #0652DD"></i></a>
    </div>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="/">Home</a></li>
        <li class="list-inline-item"><a href="/">Services</a></li>
        <li class="list-inline-item"><a href="{{url_for('tourpackages')}}">Davao Tourpackages</a></li>
        <li class="list-inline-item"><a href="{{url_for('companyprofile')}}">Company Profile</a></li>
        <li class="list-inline-item"><a href="{{url_for('privacypolicy')}}">Privacy Policy</a></li>
        <li class="list-inline-item"><a href="{{url_for('contactus')}}">Contact us</a></li>
    </ul>
    <p class="copyright">Etours Davao Inc © 2019</p>
</footer>