<footer class="footer-basic">
    <div class="social">
        <a href="https://www.instagram.com/etours.ph/"><img src="https://res.cloudinary.com/etours-davao/image/upload/v1566424398/instagram_uzdzvh.png"/></a>
        <a href="#"><img src="https://res.cloudinary.com/etours-davao/image/upload/v1566424398/linkedin_mwnuuw.png"/></a>
        <a href="https://www.facebook.com/etours/"><img src="https://res.cloudinary.com/etours-davao/image/upload/v1566424398/facebook_uttzlh.png" /></a>
    </div>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="/">Home</a></li>
        <li class="list-inline-item"><a href="{{url_for('tourpackages')}}">Tourpackages</a></li>
        <li class="list-inline-item"><a href="{{url_for('corporateTravel')}}">Corporate Travel</a></li>
        <li class="list-inline-item"><a href="{{url_for('companyprofile')}}">Company Profile</a></li>
        <li class="list-inline-item"><a href="{{url_for('privacypolicy')}}">Privacy Policy</a></li>
        <li class="list-inline-item"><a href="{{url_for('contactus')}}">Contact us</a></li>
    </ul>
    <p class="copyright">Etours Davao Inc © 2021</p>
</footer>