{% extends 'base.html' %}
{% block metadata %}
  {{ super() }}
  <title>{{indexData['header']['title']}}</title>
  <meta name="description" content="{{indexData['header']['metaDescription']}}" />
  <meta name="keywords" content="{{indexData['header']['metaKeywords']}}" />
{% endblock %}
{% block stylesheets %}
  {% compress 'css' %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}" />
  {% endcompress %}
{% endblock %}
{% block container %}

    <div class="responsive-widths">
      <section class="w-100">
        <h1 id="h1">Philippine Tourpackages > Davao Tourpackages</h1>
        <div id="tourpackages-wrapper" class="w-100 m-auto">
          {% for tourpackage in tourpackages %}
            <div class="tourpackage">
              <div class="d-block bg-white">
                {% if tourpackage.type == "multiday" %}
                  <div class="ribbon purple-ribbon">
                {% else %}
                  <div class="ribbon">
                {% endif %}
                  <span>{{tourpackage.duration_text}}</span>
                </div>
                <img
                  src="https://res.cloudinary.com/etours-davao/image/upload/w_498,h_213,q_auto:low,f_auto,dpr_auto/v1566364219/placeholder.jpg"
                  data-src="https://res.cloudinary.com/etours-davao/image/upload/w_498,q_auto:low,f_auto,dpr_auto/v1564818805/{{tourpackage.photo}}" 
                  alt="{{tourpackage.thumbnail.alt}}"
                  class="img-fluid lazy" />
                <div class="p-2 d-flex flex-wrap align-content-between" style="min-height: 115px">
                  <div>
                    <h2 class="tp-name">{{tourpackage.name}}</h2>
                    <p>
                  </div>
                  <div class="tp-pricewrapper">
                    <div>
                      <p class="p-0 m-0"><small>Price starts from</small></p>
                      <span class="tp-pricestarts">{{'%.2f'|format(tourpackage.price_starts | float)}}</span>
                    </div>
                    <div>
                      <a href="{{url_for('tourpackage_page', slug=tourpackage.slug)}}" class="btn btn-outline-success align-right btn-sm">View details</a>
                    </div>
                  </div>
                </div>  
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
      <section id="bannerSection">
        <h2>Experts in organising trips for group travel</h2>
      </section>
      <section id="services">
        <h2 class="styled-h2">Services</h2>
        <div id="service-wrapper">
          {% for service in indexData['services'] %}
            <div class="service">
              <h3>{{service['title']}}</h3>
              <p>{{service['description']}}</p>
            </div>
          {% endfor %}
        </div>
      </section>
      <section>
        <div class="youtube rounded m-auto" data-embed="kvW5iV7qp2w">
          <div class="play-button"></div>
        </div>
      </section>
      <section id="values">
        <h2 class="styled-h2">Values</h2>
        <div id="values-wrapper">
          {% for value in indexData['values'] %}
            <div class="value">
              <h3>{{value['title']}}</h3>
              <p>{{value['text']}}</p>
            </div>
          {% endfor %}
        </div>
      </section>
    </div>

{% endblock %}
{% block script %}
{% compress 'js' %}
  <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endcompress %}
{% endblock %}