<nav class="navbar sticky-top bg-white shadow">
  <div class="d-flex justify-content-between align-items-center m-auto" style="width:98%">
    <div>
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
        Menu
      </a>
      <div class="dropdown-menu align-right w-100">
        <a class="dropdown-item border-bottom" href="/">Services</a>
        <a class="dropdown-item border-bottom" href="{{url_for('tourpackages')}}">Davao Tourpackages</a>
        <a class="dropdown-item border-bottom" href="{{url_for('companyprofile')}}">Company Profile</a>
        <a class="dropdown-item border-bottom" href="{{url_for('contactus')}}">Contact Us</a>
        <a class="dropdown-item" href="{{url_for('privacypolicy')}}">Privacy Policy</a>
      </div>
    </div>
    <a href="/">
      <img id="etours-logo" class="center-block" src="https://res.cloudinary.com/etours-davao-inc/image/upload/c_scale,w_125/v1478855681/EtoursLogo_t2euyl.png"/>
    </a>
    <div>
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
        Contact
      </a>
      <div class="dropdown-menu align-right w-100">
        <div class="w99n75">
          <div class="text-center">
            <div class="social mt-2">
              <img src="https://res.cloudinary.com/etours-davao/image/upload/v1566424399/contact_qj2o76.png" />
            </div>
            <p class="mb-0">+63 (977) 834 4716 (Globe)</p>
            <img src="https://res.cloudinary.com/etours-davao/image/upload/v1566424398/facebook_uttzlh.png" />
            <p>www.facebook.com/etours</p>
            <img src="https://res.cloudinary.com/etours-davao/image/upload/v1566424398/instagram_uzdzvh.png"/>
            <p>www.instagram.com/etours.ph</p>
            <img src="https://res.cloudinary.com/etours-davao/image/upload/v1566424398/linkedin_mwnuuw.png"/>
            <p>ph.linkedin/in/etours-davao</p>
            <img class="d-block mx-auto" src="https://res.cloudinary.com/etours-davao-inc/image/upload/w_30/v1549434882/etours-logo.png"/>
            <p>info@etours.ph</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>