<nav tabindex="-1">
  <div id="logo-block">
    <div id="menu-wrap">
      <input type="checkbox" id="toggler"/>
      <div id="hamburger">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="mobile-navs">
        <a href="/">Home</a>
        <a href="{{url_for('tourpackages')}}">Tourpackages</a>
        <a href="{{url_for('corporateTravel')}}">Corporate Travel</a>
        <a href="{{url_for('companyprofile')}}">Company Profile</a>
        <a href="{{url_for('privacypolicy')}}">Privacy Policy</a>
        <a href="{{url_for('contactus')}}">Contact Us</a>
      </div>
    </div>
    <a id="navlink" href="/" tabindex="-1">
      <img id="etours-logo" src="https://res.cloudinary.com/etours-davao-inc/image/upload/c_scale,w_125/v1478855681/EtoursLogo_t2euyl.png"/>
    </a>
  </div>
  <div class="navs">
    <a href="/">Home</a>
    <a href="{{url_for('tourpackages')}}">Tourpackages</a>
    <a href="{{url_for('corporateTravel')}}">Corporate Travel</a>
    <a href="{{url_for('companyprofile')}}">Company Profile</a>
    <a href="{{url_for('privacypolicy')}}">Privacy Policy</a>
    <a href="{{url_for('contactus')}}">Contact Us</a>
  </div>
</nav>

{# <div class="dropdown-menu align-right w-100">
  <div class="w99n75">
    <div class="text-center">
      <div class="social mt-2">
        <img src="https://res.cloudinary.com/etours-davao/image/upload/v1566424399/contact_qj2o76.png"/>
      </div>
      <p class="mb-0">+63 (977) 834 4716 (Globe)</p>
      <img src="https://res.cloudinary.com/etours-davao/image/upload/v1566424398/facebook_uttzlh.png"/>
      <p>www.facebook.com/etours</p>
      <img src="https://res.cloudinary.com/etours-davao/image/upload/v1566424398/instagram_uzdzvh.png"/>
      <p>www.instagram.com/etours.ph</p>
      <img src="https://res.cloudinary.com/etours-davao/image/upload/v1566424398/linkedin_mwnuuw.png"/>
      <p>ph.linkedin/in/etours-davao</p>
      <img class="d-block mx-auto" src="https://res.cloudinary.com/etours-davao-inc/image/upload/w_30/v1549434882/etours-logo.png"/>
      <p>info@etours.ph</p>
    </div>
  </div>
</div> #}